<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User List</title>
</head>
<body>
    <h1>User List</h1>
    <a th:href="@{/users/new}">Create New User</a>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>CPF</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.id}"></td>
                <td th:text="${user.name}"></td>
                <td th:text="${user.email}"></td>
                <td th:text="${user.phone}"></td>
                <td th:text="${user.cpf}"></td>
				<td th:text="${user.password}"></td>
                <td>
                    <a th:href="@{'/users/edit/' + ${user.id}}">Edit</a> |
                    <a th:href="@{'/users/delete/' + ${user.id}}" onclick="return confirm('Are you sure?');">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>
