<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Accounts List</title>
</head>
<body>
    <h1>Accounts</h1>
    <a th:href="@{/accounts/new}">Create New Account</a>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Owner</th>
                <th>Account Number</th>
                <th>Agency</th>
                <th>Bank Name</th>
                <th>Balance</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="account : ${accounts}">
                <td th:text="${account.id}"></td>
                <td th:text="${account.owner}"></td>
                <td th:text="${account.accountNumber}"></td>
                <td th:text="${account.agency}"></td>
                <td th:text="${account.bankName}"></td>
                <td th:text="${account.balance}"></td>
                <td>
                    <a th:href="@{'/accounts/edit/' + ${account.id}}">Edit</a>
                    <a th:href="@{'/accounts/delete/' + ${account.id}}" onclick="return confirm('Are you sure?')">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
    <a th:href="@{/}">Home</a>
</body>
</html>
